<section>
  <div class="page-header">
    <h1>Polls</h1>
  </div>
  <div class="list-group my-card">
    <a data-ng-repeat="poll in vm.polls" data-ui-sref="polls.view({ pollId: poll._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="poll.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="poll.user" data-ng-bind="poll.user.displayName"></span>
        <span data-ng-if="!poll.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="poll.question"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.polls.$resolved && !vm.polls.length">
    No Polls yet, why don't you <a data-ui-sref="polls.create">create one</a>?
  </div>
</section>
