.bar1 {
  background-color: #3D2B13; }

.bar2 {
  background-color: #643618; }

.my-card {
  background-color: #7C81F8;
  padding: 10px 10px 20px 10px; }

.my-polloption {
  background-color: #A9ACF8;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10px; }

.my-text-white {
  color: #fff; }

.page-header {
  background-color: #9397F8;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }

.poll-view {
  background-color: #A9ACF8;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px; }
